/* My Work Container Styles */
.my-work-container {
    width: 100%;
    height: 100%;
    background-color: #f4f6f9;
}

.my-work-tabset {
    height: 100%;
}

/* Custom tab styling to match ExtJS design */
.my-work-tabset .slds-tabs_default__item {
    background-color: #fff;
    border-bottom: 2px solid transparent;
}

.my-work-tabset .slds-is-active {
    border-bottom-color: #1985d0;
}