@import 'c/globalStyles';

.custom-modal-header {
    font-weight: 400; 
    padding: 5px;
}
.title-text{
    font-size: 1rem;
}
[class^="icon-"],
[class*=" icon-"] {
    color: var(--lwc-app-text-secondary, #565f64);
    display: inline-block;
    text-align: center;
    font-size:0.813rem;
}

.pointer{
    cursor: pointer;
}

.action-column {
    width: 80px; /* adjust as needed */
    text-align: center;
    vertical-align: middle;
}

.action-column span {
    display: inline-block;
    margin: 0 5px; /* horizontal spacing */
    cursor: pointer;
    vertical-align: middle;
}

.button-wapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}


.uploadBtn {
    padding: 7px 10px;
    color: white;
    border: none;
    background: #6dc762;
    border-radius: 2px;
}

.file-name-display {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid #d8dde6;
    background-color: #f4f6f9;
    outline: none;
    cursor: pointer;
}

.file-browse-btn {
    background-color: var(--lwc-app-text-secondary, #565f64);
    color: white;
    text-align: center;
    padding: 7px 10px;
    cursor: pointer;
    display: inline-block;
    position: relative;
}

.file-browse-btn input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}



.lightning-confirm .slds-modal__container {
    width: 600px !important;   /* Custom width */
    height: 400px !important;  /* Custom height */
}

/* Change header background color */
.lightning-confirm .slds-modal__header {
    background-color: #1976d2 !important; /* your custom color */
    color: white !important;
}

/* Optional: round corners */
.lightning-confirm .slds-modal__container {
    border-radius: 12px !important;
}