:host {
  /* Uses a styling hook to ensure no border appears on hover */
  --slds-c-button-menu-color-border: transparent;
}

[class^="icon-"],
[class*=" icon-"] {
    color: #565F64;
    display: inline-block;
    text-align: center;
    font-size:0.813rem;
}


.folderSection{
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.icon-chevron-down{
  font-size: 0.5rem;
}

.icon-vert-dots{
  font-size: 0.8rem;
}

.icon-chevron-up{
  font-size: 0.5rem;
}

.iconContainer{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.custom-dropdown-item {
  text-decoration: none;
  color: #000;
  padding: 0.5rem;
  font-size: 0.85rem;
}

.custom-dropdown-item:hover {
  color: #ed6c00;
  background-color: rgb(250, 250, 250);
}